doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #FBFBFB;')
    header.text-center(style='padding: 1em;background-color: #FFF;margin-bottom: 1em;text-align: center;')
      .logo(style='margin: auto;max-width: 500px;display: flex;align-items: center;')
        img(src=logo,  style='height: 5rem;')
        h1(style='font-family: Courier New, monospace;font-size: 1.5em;margin: 21px;color: #111;') SCADA/IoT
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') 您好,
      p(style="color: #34495E;")
        | 本系統未找到綁定此電子郵件信箱的帳號，因此無法完成更改密碼的要求。
      a.reset-btn(href=url, style='color: #4caf50;display: block;text-align: center;text-decoration: none;padding: 0.5em;font-size: 1.2em;border: 5px solid #4caf50;border-radius: 3px;margin: 1em;margin-right: auto;margin-left: auto;')
        b 註冊新帳號
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') 如果您沒有做出更改密碼的要求，請忽略這封信。
