# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.git
.gitignore
.dockerignore
.env
.vscode
README.md
Dockerfile

# Artifacts that will be built during image creation.
data
node_modules
